# .env only use in node.js
# HOSTNAME=localhost
# PORT=4000
# HOST=http://$HOSTNAME:$PORT
# expose a variable to the browser with `process.env.NEXT_PUBLIC_ANALYTICS_ID`
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3005/api
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_VERSION=v1.0.0 demo
NEXT_PUBLIC_USE_MOCK=true