

.signList {
    th{
        color: #0a4f91 !important;;
    }

    td {
        text-align: center; /* 水平置中 */
        vertical-align: middle; /* 垂直置中 */
      }
}

.ch15 {
    width: 15ch;
    font-size: 16px;
}
